$primary-color: #009900;
$error-color: #E54C38;
$white-color: #ffff;
$dark-grey: #5C5C5C;
$grey-color: #F5F5F5;
$light-grey-color: #E0E0E0;
$grey-fill-color: #FAFAFA;
$black-color: #333333;
$blue-border-color: #3362AB;
$blue-fill-color: #F0F5FF;
$placeholder-color: #828282;
$base-spacing-s: 12px;
$base-spacing-m: 16px;
$border-radius: 6px;
$border-radius-s: 4px;
$font-s: 12px;
$font-m: 14px;
$font-l: 18px;
$font-xl: 24px;
$font-weight-s: 400;
$font-weight-m: 500;
$font-weight-l: 700;
$line-height-s: 16px;
$line-height-m: 20px;
$line-height-l: 32px;