@import '../../styles/variables';

.card-input-container {
    display: flex;
    align-items: center;
    width: 100%;

    .input {
        flex: 1;
        padding: $base-spacing-m;
        box-sizing: border-box;
        border: 1px solid $light-grey-color;
        border-radius: $border-radius;
        font-size: $font-m;
        line-height: $line-height-m;
        width: 100%;

        &::placeholder {
            color: $placeholder-color;
        }
    }

}