@import "../../../styles/variables";

.benefit-item {
    display: flex;
    align-items: center;
    margin-bottom: $base-spacing-m;

    &__icon {
        width: 32px;
        height: auto;
        margin-right: $base-spacing-m;
        margin-bottom: auto;
    }

    &__content {
        text-align: left;
    }

    &__title {
        font-size: $font-s;
        font-weight: bold;
        color: $black-color;
        margin: 0;
    }

    &__description {
        font-size: $font-s;
        margin: calc($base-spacing-m / 2) 0 0 0;
        color: $dark-grey;
    }
}